body {
  padding: 30px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 40px;
  color: #0ccac4;
}

.header {
  /* font-family: 'Bigelow Rules', cursive; */
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
}